.card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
  cursor: pointer;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px 25px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.card__name {
  margin: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.card__delete {
  background-image: url(../images/Trash.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  width: 18px;
  height: 19px;
  border: none;
  cursor: pointer;
  z-index: 998;
  position: absolute;
  left: 250px;
  top: 18px;
}

.card__like-button {
  background: transparent url(../images/Group.svg) no-repeat center;
  width: 21px;
  height: 18px;
  padding-left: 28px;
  border: 0;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/likeactive.svg);
}

.card__like-button:hover {
  opacity: 0.5;
  cursor: pointer;
}
