.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
}

.modal__container {
  position: relative;
  margin: auto;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  width: 358px;
  height: 258px;
  padding: 36px;
}

.modal__close {
  border: none;
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  width: 40px;
  height: 40px;
  background-image: url(../images/Close\ Icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.modal__close:hover {
  fill: #fff;
  opacity: 0.6;
}

.modal__heading {
  text-align: left;
  margin-bottom: 54px;
  margin-top: 0px;
  width: 330px;
  height: 23px;
  color: #000;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

.modal__form {
  display: flex;
  flex-direction: column;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 358px;
  height: 14px;
  flex-shrink: 0;
}

.modal__form_title {
  margin-bottom: 30px;
  padding-bottom: 14px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__form_description {
  margin-bottom: 0px;
  padding-bottom: 14px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.modal__button {
  margin-top: 40px;
  background-color: #000;
  color: #fff;
  height: 50px;
  width: 360px;
  padding: 14px 125px 20px;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal__button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

@media screen and (max-width: 539px) {
  .modal__container {
    width: 252px;
    height: 282px;
    padding: 25px;
  }

  .modal__heading {
    margin-bottom: 75px;
    width: 238px;
    height: 22px;
    font-size: 18px;
    font-weight: 900;
  }

  .modal__form {
    width: 238px;
  }

  .modal__form_title {
    margin-bottom: 40px;
    padding-bottom: 13px;
  }

  .modal__form_description {
    margin-bottom: 0px;
    padding-bottom: 13px;
  }

  .modal__button {
    margin-top: 45px;
    height: 46px;
    width: 238px;
    padding: 14px 100px 14px;
  }
}

@media screen and (max-width: 405px) {
  .modal__close {
    width: 26px;
    height: 26px;
  }
}

@media screen and (max-width: 381px) {
  .modal__close {
    bottom: calc(100% + 20px);
    left: calc(100% + -25px);
  }
}
