.page {
  background-color: #000;
  color: #fff;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  margin-top: 45px;
  border-bottom: 1px solid #545454;
  padding-bottom: 41px;
}

.header__logo {
  width: 173px;
  height: 33px;
  flex-shrink: 0;
}

.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  flex-shrink: 0;
  margin-right: 24px;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__title {
  margin: 0;
  color: #fff;
  font-family: "Inter";
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 48px;
  grid-area: title;
}

.profile__button-edit {
  background: transparent url(../images/edit.svg) center no-repeat;
  width: 24px;
  height: 24px;
  grid-area: button;
}

.profile__description {
  margin: 0;
  width: 415px;
  height: 22px;
  top: 236px;
  left: 350px;
  max-width: 415px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
}

.profile__button-add {
  background: transparent url(../images/Add\ Button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
}

.cards {
  /* fonts */
  margin-top: 30px;
}

.card {
  display: flex;
  flex-direction: column;
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}

.card__description {
  display: flex;
  background-color: white;
  color: black;
  padding: 25px 20px 25px 20px;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 10px 10px;
}

.card__name {
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/Group.svg) no-repeat center;
  width: 21px;
  height: 18px;
  padding-left: 28px;
  border: 0;
}
